@font-face {
    font-family: 'Craftype';
    src: url('craftype.otf') format('opentype');
    font-display: swap;
}

body {
    font-family: 'Craftype', sans-serif;
}

#menu-place, #clock-place, #chat-place {
    min-height: 60px;
}
