/* <link rel="stylesheet" href="fonts/style.css"> */

@font-face {
    font-family: 'CraftyPE';
    src: url('fonts/CraftyPE.otf') format('opentype');
}

body {
    font-family: 'CraftyPE', sans-serif;
}
